<% include ../navigation %>
<div class="ch-container">
    <% include ../sidebar %>
    <div id="content" class="col-lg-10 col-sm-10">
        <div>
            <ul class="breadcrumb">
                <li><a href="/">主页</a></li>
                <li><a href="#">用户列表踢人</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="box col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-edit"></i>用户列表踢人</h2>
                    </div>
                    <% if (error) { %>
                    <div class="center alert alert-danger">
                        <div><span class="ng-binding ng-scope"><%= error %></span></div>
                    </div>
                    <% } %>
                    <% if (success) { %>
                    <div class="center alert alert-success">
                        <div><span class="ng-binding ng-scope"><%= success %></span></div>
                    </div>
                    <% } %>
                    <div class="box-content">
                        <form id="outoflineinfo" class="form-horizontal" role="form" action="kickUserListPOST" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <br />
                                <div class="center col-md-8">
                                    <div class="input-group input-group-md">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user red " >用户ID</i></span>
                                        <input name="userID" type="text" id="userID" class="form-control "  placeholder="用户ID"/>
                                    </div><br />
                                    <div class="input-group input-group-md">
                                        <span class="input-group-addon" ><i class="glyphicon glyphicon-user red">房间名称</i></span>
                                        <input name="usernick"  id="usernick" type="text" class="form-control  " placeholder="房间名称"/>
                                    </div><br />
                                    <span class="input-group-addon" style="border:none;background-color:#FFFFFF"></span>
                                    <input  type="button" id="findinfo"  style="border:none;background-color:#2FA4E7;width:112px;height:38px " class="form-control col-md-2 " value="提 交" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="application/javascript">
    $("#findinfo").click(function () {
        var data = {};
        data.uid = $("#userID").val();
        data.chatname = $("#usernick").val();
        console.log(data);
        $.post("/other/kickUserListPOST", data, function (result) {
            console.log(result)
            result = JSON.parse(result);
            if(result.result == "ok"){
                alert('踢人成功！');
            }else{
                alert('踢人失败！');
            }
        });
    });
</script>

