<% include ../navigation %>
<div class="ch-container">
    <% include ../sidebar %>
    <div id="content" class="col-lg-10 col-sm-10">
        <div>
            <ul class="breadcrumb">
                <li><a href="/">主页</a></li>
                <li><a href="/region/roomchange">大区转换</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="box col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-edit"></i>大区转换</h2>
                    </div>
                    <% if (error) { %>
                    <div class="center alert alert-danger">
                        <div><span class="ng-binding ng-scope"><%= error %></span></div>
                    </div>
                    <% } %>
                    <% if (success) { %>
                    <div class="center alert alert-success">
                        <div><span class="ng-binding ng-scope"><%= success %></span></div>
                    </div>
                    <% } %>
                    <div class="box-content">
                        <!--<form id="userinfo" class="form-horizontal" role="form" action="#" method="post" enctype="multipart/form-data">-->

                        <fieldset>
                            <br />
                            <div class="center col-md-8">
                                <div class="input-group input-group-md ">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark red"></i>大区</span>
                                    <select id="c_forward" name="c_forward" class="form-control">
                                        <option value=""> 无 </option>
                                        <% if (regions.length > 0) { %>
                                            <% for(var i=0; i<regions.length; i++) {%>
                                                <% if (regions[i].status == 1) {%>
                                                    <option value=<%= regions[i].c_id%>> <%= regions[i].c_name %> </option>
                                                <% } %>
                                            <% } %>
                                        <% } else {%>
                                        <option>没有大区信息</option>
                                        <% } %>
                                    </select>
                                </div><br />
                                <div class="input-group input-group-md">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i> 房间</span>
                                    <textarea title="房间列表" id="relayText" name="r_text" class="form-control content relayText"></textarea>
                                </div><br />
                                <p class="center col-md-5">
                                    <input type="button" id="zj_add_submit" class="btn btn-md btn-primary" value="提 交" />
                                </p>
                            </div>
                        </fieldset>
                        <!--</form>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<style type="text/css">
    .relayText{
        height: 316px !important;
    }
</style>
<script type="text/javascript">
    $('#zj_add_submit').click(function(){
        var c_forward=$('#c_forward').val();//大区id
        var relayText=$('#relayText').val().trim();//房间名
        var re=/[，,]/g;
        if(re.test(relayText)){//说明格式正确
            var rList=relayText;//relayText.split(re);
            var data={};
            data.id=c_forward;//大区id
            data.roomList=rList;

            $.post("/region/roomUpdateRegion", data, function(result){
                var res=JSON.parse(result);
                if('ok'==res.status){
                    alert('更新成功');

                }else{
                    alert('更新失败');
                }
                $('#relayText').val("");
            });
        }else{
            alert('房间太少请到房间列表修改');
            return false;
        }
        return false;
    });
</script>