<% include ../navigation %>
<div class="ch-container">
    <% include ../sidebar %>
    <div id="content" class="col-lg-10 col-sm-10">
        <div>
            <ul class="breadcrumb">
                <li><a href="#">主页</a></li>
                <li><a href="#">房间禁用IP查找</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="box col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2>
                            <i class="glyphicon glyphicon-edit"></i>房间禁用IP查找
                        </h2>
                        <span style="float:right">
                            <h2>公网IP查询地址:</h2><a target="_blank" href="http://chan.mfniu.com/i.php">http://chan.mfniu.com/i.php</a>
                        </span>
                    </div>
                    <% if (error) { %>
                    <div class="center alert alert-danger">
                        <div><span class="ng-binding ng-scope"><%= error %></span></div>
                    </div>
                    <% } %>
                    <div class="box-content">
                        <!--<form class="form-horizontal" role="form" action="/room/roomliftbanfind" method="post" enctype="multipart/form-data">-->
                        <form class="form-horizontal" role="form" enctype="multipart/form-data">
                            <fieldset>
                                <br/>

                                <div class="center col-md-8" id="text_zj">
                                    <div class="input-group input-group-md">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                                            <input name="roomname" type="text" id="roomname" class="form-control zj_css_width"  placeholder="房间名称"/>
                                            <span class="input-group-addon" ><i class="glyphicon glyphicon-user red"></i></span>
                                            <input name="roomip"  id="roomip" type="text" class="form-control zj_css_width" placeholder="禁用IP"/>
                                            <span class="input-group-addon zj_add_back"></span>
                                            <input type="submit" id="zj_js_submit" class="btn btn-md btn-primary form-control " value="提 交" />
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div class="zj-add-view"></div>
                        <div class="page"></div>
                    </div>
                </div>
            </div>
            <!--<div class="zj-add-view"></div>-->
        </div>
    </div>
</div>
</div>
<style type="text/css">
    .input-group .zj_css_width {
        width: 97% !important;
    }
    .zj_add_back{
        border-style:none ;
        background-color:#ffffff;
    }
</style>
<!--
修改分页js代码
-->
<style type="text/css">
    @charset "utf-8";
    .pagination {
        float: right;
    }

    .pagination a {
        text-decoration: none;
        border: 1px solid #AAE;
        color: #15B;
    }

    .pagination a, .pagination span {
        display: inline-block;
        padding: 0.1em 0.4em;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .pagination .current {
        background: #26B;
        color: #fff;
        border: 1px solid #AAE;
    }

    .pagination .current.prev, .pagination .current.next {
        color: #999;
        border-color: #999;
        background: #fff;
    }
</style>
<script type="application/javascript">
    $('#zj_js_submit').click(function () {
        var data = {};
        var roomname = $('#roomname').val();
        var roomip = $('#roomip').val();
        if (!roomname.trim() && !roomip.trim()) {
           var str='<div class="box-content"><div class="center alert alert-danger"><div><span class="ng-binding ng-scope">请输入房间名称或禁用IP</span></div></div></div>'
            $('.zj-add-view').html(str);
            $('.page').html('');
            return false;
        }
        data.current_page=0;
        data.roomname=roomname;
        data.roomip=roomip;
        $.post('/room/roomliftbancount', data, function (res) {
            if('ok'==res.status){
                var str='<div id="Pagination" class="pagination"></div>'
                $('.page').html(str);
                function InitTable(pageIndex) {
                    var info = {};
                    info.current_page = pageIndex;
                    info.roomname = roomname;
                    info.roomip = roomip;
                    $.post("/room/roomliftbanfind", info, function (result) {
                        var top=result.indexOf('<body>');
                        result = result.substr(top, result.length);
                        $(".zj-add-view").empty().append(result);
                        return true;
                    });
                }
                function PageCallback(index, jq) {
                    InitTable(index);
                }
                var pageIndex = 0;     //页面索引初始值
                InitTable(pageIndex);
                var total_pages=res.total_pages;
                $("#Pagination").pagination(total_pages, {
                    callback: PageCallback,
                    prev_text: '上一页',       //上一页按钮里text
                    next_text: '下一页',       //下一页按钮里text
                    items_per_page: 5,  //显示条数
                    num_display_entries: 4,    //连续分页主体部分分页条目数
                    current_page: pageIndex,   //当前页索引
                    num_edge_entries: 2        //两侧首尾分页条目数
                });
                return true;
            }else{
                $('.page').html('');
                var str = '<div class="box-content"><div class="center alert alert-danger"><div><span class="ng-binding ng-scope">房间没有被禁用信息</span></div></div></div>'
                $('.zj-add-view').html(str);
                return false;
            }
        });
        return false;
    });
</script>